{erl_opts, [debug_info, warnings_as_errors]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{sub_dirs, ["deps"]}.
{erl_first_files, ["meru_transform"]}.
{deps, [
    {parse_trans, ".*", {git, "git@github.com:esl/parse_trans.git", "master"}},
    {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", {tag, "1.3.0"}}},
    {poolboy, ".*", {git, "git@github.com:devinus/poolboy.git", {tag, "1.0.0"}}}
]}.
